@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(../fonts-static/l/font%3Fkit=gNM_W2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_wjOOEa9ruReaU4bHmz450hZgFH-VB965r3xeCKU1MBOZNK2bqqSidJuAY-7emCngvjH7hfSeAjySThfTLz1TZ2_wwTMtUQkT3CchSRYK_VB-a3pMycBbYq5i9rlhgH-0OMWEOscmIfN-bnBrJxtU87XjAPiaj6rw1_ZhCeF_Qx3OyJRN01pM1u8lA1y0) format('woff2');
}

.material-symbols-sharp {
  font-family: 'Material Symbols Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
